.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 15px;
  opacity: 0;
  background: rgba(255, 255, 255, .9);
  transition: all .2s ease-in-out;
  z-index: 20;
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}
